@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "outfit", sans-serif;
  background-color: #161616;
  color: #B5B5B5;
}


a {
  text-decoration: none;
  padding: 5px 10px;
  color: #B6B6B6;
  background-color: #1A1A1A;
  border: .1px solid #B6B6B6;
}

nav a {
  border: none;
}

nav img{
  width: 4em;
}

#nav-opt{
  display: flex;
}

section{
  min-height: 100vh;
}

#hero{
  padding: 6%;
  line-height: 2em;
}

#hero_content{
  display: grid;
  place-content: center;
  text-align: center;
  /* min-height: 1vh; */
  /* width: 40%; */
}

#hero_content h1{
  width: 40vw;
  font-size: 3.5em;
  font-weight: 400;
  line-height: 1em;
}