*{
  box-sizing: border-box;
  background-color: #161616;
  /* font-family: ; */
  color: #B5B5B5;
}

a {
  text-decoration: none;
  padding: 5px 10px;
  color: #B6B6B6;
  background-color: #1A1A1A;
  border: .1px solid #B6B6B6;
}

section{
  min-height: 100vh;
}

#hero{
  padding: 6%;
}

#hero_content{
  display: grid;
  place-content: center;
  /* min-height: 1vh; */
}